body {
    background-color: rgb(128, 128, 128);
    background: radial-gradient(circle, #4468b5, #162a7d); /* Circular gradient */
    background-image: url('https://images.rawpixel.com/image_social_landscape/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm0zNzgtMDkta255OWZoM2IuanBn.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#title {
    color: white;
}

#studentbut {
    margin-right: 0.625rem; /* 10px */
    padding: 0.625rem 1.25rem; /* 10px 20px */
    background-color: #013a5d;
    color: white;
    border: none;
    border-radius: 0.3125rem; /* 5px */
    cursor: pointer;
}

#studentbut:hover {
    transform: scale(1.1); /* Slightly enlarge the button */
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2); /* 4px 8px */
    background-color: #43b0f3;
}

#teacherbut {
    margin-right: 0.625rem; /* 10px */
    padding: 0.625rem 1.25rem; /* 10px 20px */
    background-color: #013a5d; /* Fix: differentiate colors */
    color: white;
    border: none;
    border-radius: 0.3125rem; /* 5px */
    cursor: pointer;
}

#teacherbut:hover {
    transform: scale(1.1); /* Slightly enlarge the button */
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2); /* 4px 8px */
    background-color: #43b0f3;
}